ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    padding: 15px 70px 15px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
    border-radius: 3px;
    
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}